    * {
        margin: 0;
    }
    
    .Navbar {
        background-color: rgba(18, 18, 35, 0.858);
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
    }
    
    .nav-links li {
        text-decoration: none;
        margin-left: 20px;
        margin-right: 30px;
    }
    
    .nav-links li a {
        color: white;
        text-decoration: none;
        text-align: center;
        font-size: 23px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .logo-img {
        height: 80px;
    }
    
    #menu-bar {
        margin-right: 20px;
        height: 40px;
        display: none;
    }
    
    #search-bar {
        width: 390px;
        height: 35px;
        border-radius: 20px;
        border: 2px rgb(168, 165, 165) solid;
        margin-left: -90px;
    }
    
    #search-img {
        background-color: white;
        height: 26px;
        border-radius: 20px;
        padding: 3px;
        margin-left: -185px;
        cursor: pointer;
        border: 2px rgb(168, 165, 165) solid;
    }
    
    @media screen and ( max-width: 768px) {
        .nav-links {
            display: none;
        }
        #menu-bar {
            display: flex;
        }
        #search-img {
            border: none;
        }
    }
    
    @media screen and ( max-width: 530px) {
        #search-bar {
            display: none;
        }
        #search-img {
            display: none;
        }
    }
    
    .footer {
        background-color: rgb(36, 36, 71);
        width: 100%;
        margin-top: 400px;
        color: white;
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;
    }
    
    .container {
        max-width: 1300px;
        padding: 20px;
    }
    
    .row {
        display: flex;
        justify-content: space-around;
    }
    
    ul {
        list-style: none;
    }
    
    h4 {
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-display: uppercase;
    }
    
    ul li {
        padding: 2px;
        margin-top: 10px;
    }
    
    ul li a {
        text-decoration: none;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    #social {
        text-decoration: none;
        padding: 5px;
        color: white;
    }