* {
    margin: 0;
}

.Navbar {
    background-color: rgb(36, 36, 71);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 30px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 23px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo-img {
    height: 80px;
}

#menu-bar {
    margin-right: 20px;
    height: 40px;
    display: none;
}

@media screen and ( max-width:768px) {
    .nav-links {
        display: none;
    }
    #menu-bar {
        display: flex;
    }
}